h1 {
    color: red;
   
}
h2{
    color: purple;
     
}
.header {
    background-color:burlywood;
    display: flex;
    justify-content: space-between;
}
.grid {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;

    border-radius: 20px;
    background-color: azure;

    
    font-family: fantasy;
}
.origami {
    justify-content:space-evenly;
    flex-wrap: wrap;
    border: 5px solid #555;
}
